build/
install/
*.o
*.o.d
*.so
*.a
*.cmake
CMakeFiles/
CMakeCache.txt
Makefile
*.bin
*.pt2
exported_model/
.vscode/
*.f32

models/compress_models/
pretrained_models/
pretrained

__pycache__/
*.pyc
.ipynb_checkpoints/

build/ install/
build/
install/
exported_model
build_script_atlas.sh
pretrained
